<apex:page showHeader="false" sideBar="false" Controller="welcome" action="{!init}">
    <apex:form >
    <apex:include pageName="publicPage"/>
    <div id="tes" style="display: none;">
    	<table style="font-size: 12px;height: 550px;font-family:Verdana;">
    		<tr>
	    		<td width="49%" valign="top" style="padding-right:3px;font-family:Verdana;">     
	        		<apex:outputText value="{!welmess}" escape="false"/>
	    		</td>
	    		<td style="width:3%;" valign="top" style="padding-right:3px;font-family:Verdana;">
	    			&nbsp;         
	    		</td>
	    		<td width="48%" valign="top" style="padding-right:3px;font-family:;">
	        		<apex:outputText value="{!welmess2}" escape="false"/>
	    		</td>
    		</tr>
    	</table>
    </div>
    <div id="cuside" style="display:none">
    	<apex:repeat value="{!nms}" var="nm">
	    	<strong><apex:outputText value="{!nm.Name}"/></strong>
	    	<br/>
	    	<a href="/RedStory?id={!nm.id}" style="text-decoration: none"><font color="#F26531">READ STORY >></font></a>
	    	<br/><br/>
    	</apex:repeat>
    </div>
    <script>
    	//var s='';
		//s=s.replace('<span><span style="font-size: 9.0pt; color: black; ">','');
		//s=s.replace('</span></span>','');
        var d=document.getElementById('inn');
        var tes=document.getElementById('tes');
        d.innerHTML=tes.innerHTML;
        //alert(s);
        document.getElementById('innerbluebar').innerHTML='Welcome to the Veristor First Call Support Portal';
    </script>
    </apex:form>
</apex:page>