* {font-size: 100.01%;}
html {font-size: 62.5%;}
body {
	margin:0;
	min-width:990px;
	color:#4d4d4d;
	font:1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#686868 url(../images/body-bg.jpg) repeat-x;
}
img {
	border-style:none;
}
a {
	color:#036;
}
a:hover {
	text-decoration:none;
}
input ,
textarea ,
select {
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form ,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
/* wrapper */
.wrapper {
	width:978px;
	margin:0 auto;
	padding:27px 4px 30px 4px;
}
.maintop {
	width:978px;
	background:url(../images/page-top.png) no-repeat;
	height:12px;
	overflow:hidden;
}
.mainbtm {
	width:978px;
	height:18px;
	overflow:hidden;
	background:url(../images/page-btm.png) no-repeat;
}
.mainbg {
	width:978px;
	background:url(../images/page-bg.png) repeat-y;
}
/* main */
.main {
	width:960px;
	position:relative;
	padding:117px 11px 0 7px;
}
.inner .main {
	padding-top:108px;
}
/* header */
#header {
	position:absolute;
	left:7px;
	z-index:50;
	width:960px;
	top:-5px;
}
.header1 {
	height:122px;
}
.header2 {
	height:113px;
}
#header strong a {
	position:absolute;
	top:10px;
	left:21px;
	width:94px;
	height:86px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo-2.gif) no-repeat;
}
.inner #header strong a {
	position:absolute;
	top:10px;
	left:21px;
	width:94px;
	height:86px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo-2.gif) no-repeat;
}
/* topnav */
#header ul.topnav {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:21px;
	right:232px;
	float:left;
	overflow:hidden;
}
#header ul.topnav li {
	float:left;
	background:url(../images/separator-1.gif) no-repeat 0 50%;
	padding:0 9px 2px 9px;
	margin-left:-7px;
	display:inline;
}
#header ul.topnav a {
	font-size:10px;
	color:#333;
	text-decoration:none;
	white-space:nowrap;
}
#header ul.topnav a:hover {
	color:#f26531;
}

/* ============================================== */
/* DE BUGGING - moving this up to find IE issue */
/* ============================================== */

/* mainnav */
#mainnav {
	position:absolute;
	top:69px;
	left:133px;
	margin:0;
	padding:0;
	list-style:none;
}
.inner #mainnav {
	top:69px;
}

/* ============================================== */


#mainnav li {
	float:left;
	background:url(../images/separator-2.gif) no-repeat;
	padding:3px 2px 3px 19px;
	margin:0;
	height:24px;
}
#mainnav li:first-child {
	background:none;
}
#mainnav ul li {
	height:auto;
}
#mainnav a {
	color:#0c479d;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
	line-height:12px;
	float:left;
}
#mainnav a:hover ,
#mainnav li:hover a ,
#mainnav li.hover a ,
#mainnav li.active a {
	color:#0096d6;
}
#mainnav a.greenlink:hover ,
#mainnav li:hover a.greenlink ,
#mainnav li.hover a.greenlink ,
#mainnav li.active a.greenlink {
	color:#5e9732;
}
#mainnav a.redlink:hover ,
#mainnav li:hover a.redlink ,
#mainnav li.hover a.redlink ,
#mainnav li.active a.redlink {
	color:#bf311a;
}
#mainnav a.lightbluelink:hover ,
#mainnav li:hover a.lightbluelink ,
#mainnav li.hover a.lightbluelink ,
#mainnav li.active a.lightbluelink {
	color:#5091cd;
}
#mainnav a.purplelink:hover ,
#mainnav li:hover a.purplelink ,
#mainnav li.hover a.purplelink ,
#mainnav li.active a.purplelink {
	color:#61116a;
}
#mainnav a.teallink:hover ,
#mainnav li:hover a.teallink ,
#mainnav li.hover a.teallink ,
#mainnav li.active a.teallink {
	color:#007a86;
}
#mainnav li:hover ,
#mainnav li.hover {
	position:relative;
}
#mainnav li:hover .drop ,
#mainnav li.hover .drop {
	display:block;
}

/* drop */
#mainnav .drop {
	display:none;
	position:absolute;
	width:137px;
	top:27px;
	left:16px;
	padding:14px 0 0;
}
.inner #mainnav .drop {
	padding:17px 0 0;
}
#mainnav ul {
	margin:0;
	padding:10px 10px 3px;
	list-style:none;
	background:#0096d6;
	width:117px;
}
#mainnav .dropgreen ul {
	background:#8baf2f;
}
#mainnav .dropred ul {
	background:#bf311a;
}
#mainnav .droplightblue ul {
	background:#4592ce;
}
#mainnav .droppurple ul {
	background:#61116a;
}
#mainnav .dropteal ul {
	background:#007a86;
}
#mainnav ul li {
	float:none;
	width:100%;
	overflow:hidden;
	padding:0 0 10px;
	background:none;
	vertical-align:top;
}
#mainnav ul a ,
#mainnav li:hover ul a ,
#mainnav li.hover ul a ,
#mainnav li.active ul a {
	color:#fff;
	font-size:9px;
}
#mainnav ul a:hover ,
#mainnav li:hover ul a:hover ,
#mainnav li.hover ul a:hover ,
#mainnav li.active ul a:hover {
	color:#0c479d;
}
#mainnav .dropgreen ul a:hover ,
#mainnav li:hover .dropgreen ul a:hover ,
#mainnav li.hover .dropgreen ul a:hover ,
#mainnav li.active .dropgreen ul a:hover {
	color:#387c2a;
}
#mainnav .dropred ul a:hover ,
#mainnav li:hover .dropred ul a:hover ,
#mainnav li.hover .dropred ul a:hover ,
#mainnav li.active .dropred ul a:hover {
	color:#4d1401;
}
#mainnav .droplightblue ul a:hover ,
#mainnav li:hover .droplightblue ul a:hover ,
#mainnav li.hover .droplightblue ul a:hover ,
#mainnav li.active .droplightblue ul a:hover {
	color:#21679d;
}
#mainnav .droppurple ul a:hover ,
#mainnav li:hover .droppurple ul a:hover ,
#mainnav li.hover .droppurple ul a:hover ,
#mainnav li.active .droppurple ul a:hover {
	color:#9b70aa;
}
#mainnav .dropteal ul a:hover ,
#mainnav li:hover .dropteal ul a:hover ,
#mainnav li.hover .dropteal ul a:hover ,
#mainnav li.active .dropteal ul a:hover {
	color:#00c4d9;
}
/* search */
#header .search {
	position:absolute;
	right:0;
	top:19px;
	width:232px;
}
#header .search fieldset {
	width:100%;
	overflow:hidden;
}
#header .search .field {
	width:190px;
	height:19px;
	background:url(../images/input-bg.gif) no-repeat;
	overflow:hidden;
	float:left;
}
#header .search .field input {
	width:176px;
	float:left;
	background:none;
	border:0;
	font:10px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4d4d4d;
	padding:2px 7px;
	margin:0;
}
#header .search .btn {
	width:20px;
	height:19px;
	background:url(../images/btn-search.gif) no-repeat;
	border:0;
	padding:0;
	margin:0;
	float:left;
	cursor:pointer;
}
/* request */
#header .request {
	position:absolute;
	top:38px;
	right:-12px;
	width:247px;
	height:36px;
	background:url(../images/btn-request.gif) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}
/* promo */
.promo {
	margin-right:-14px;
    margin-top:-12px;
	position:relative;
	width:100%;
}
/* =========================================== */
/* MOVED THE INNER PROMO BANNER DOWN - this allows IE to work */
/* NEED TO FIND z-index as I believe that is the issue overall */
/* NOTE- if margin-top was set to any negative number IE would have the issue */
/* =========================================== */
.inner .promo {
	margin-top:0px;
}
/* =========================================== */
/* =========================================== */
.columnsframe{
	width:100%;
}
.inner .columnsframe {
	width:100%;
	padding-top:23px;
}
.promo img {
	display:block;
}
.slideshow {
	width:100%;
}
.slideshow .slidearea {
	width:100%;
}
.slideshow .slidearea ul {
	margin:0 -15px 0 0;
	padding:0;
	list-style:none;
	width:975px;
	height:350px;
	position:relative;
}
.slideshow .slidearea ul li {
	position:absolute;
	top:0;
	height:350px;
	width:975px;
	left:0;
}
.slideshow .slidearea ul li.active{z-index:2;}
.slideshow .slidearea ul .bluebox {
	width:226px;
	height:207px;
	background:url(../images/bluebox-bg.gif) no-repeat;
	position:absolute;
	top:89px;
	right:0;
	color:#fff;
	padding:43px 0 0 26px;
}
* html .slideshow .slidearea ul .bluebox{right:-1px;}
.slideshow .slidearea ul .bluebox span {
	display:block;
	font-size:26px;
	line-height:40px;
}
.slideshow .slidearea ul .bluebox strong {
	display:block;
	font-size:41px;
	line-height:40px;
	height:41px;
	overflow:hidden;
}
.slideshow .counter-hold {
	position:absolute;
	top:16px;
	right:18px;
	z-index:10;
}
.slideshow .counter-hold ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.slideshow .counter-hold li {
	float:left;
	padding-left:7px;
}
.slideshow .counter-hold a {
	display:block;
	width:15px;
	height:15px;
	background:#0c479d;
	text-indent:-9999px;
	overflow:hidden;
}
.slideshow .counter-hold a:hover ,
.slideshow .counter-hold .active a {
	background:#fff;
}
/* bluebox2 */
.promo .bluebox2 {
	width:186px;
	height:200px;
	background:url(../images/bluebox-bg2.gif) no-repeat;
	position:absolute;
	top:-16px;
	right:-14px;
	color:#fff;
	padding:55px 0 0 18px;
}
.promo .bluebox2 span {
	display:block;
	font-size:20px;
	line-height:30px;
}
.promo .bluebox2 strong {
	display:block;
	font-size:27px;
	line-height:30px;
}
.promo .title {
	position:absolute;
	top:-16px;
	right:-13px;
}
.promo .shift {
	top:-17px;
}
.slideshow .slidearea ul .overlay {
	position:absolute;
	top:101px;
	left:0;
	width:537px;
	padding:18px 0 17px 48px;
	background:url(../images/overlay-bg.png) repeat-y;
}
.slideshow .slidearea ul .overlay span {
	display:block;
	font-size:34px;
	line-height:28px;
	color:#fff;
	height:34px;
	overflow:hidden;
}
/* columnsholder */
.columnsholder {
	width:100%;
	position:relative;
	background:url(../images/columnsholder-bg.gif) repeat-y 498px 0;
}
.inner .columnsholder {
	background:url(../images/columnsholder-bg2.gif) repeat-y 725px 0;
}
.columnsholder:after {
	content:'';
	clear:both;
	display:block;
}
/* aside */
.aside {
	float:right;
	width:218px;
	padding:0 6px;
}
.inner .aside {
	padding-right:10px;
}
.aside .title {
	width:100%;
	background:url(../images/separator-orange.gif) repeat-x;
	margin-bottom:14px;
}
.aside .title div {
	background:url(../images/separator-orange.gif) repeat-x 0 100%;
	padding:3px 6px 5px;
}
.aside .title strong {
	display:block;
	color:#f26531;
	font-size:1.4em;
}
.blue .title {
	background:url(../images/separator-blue.gif) repeat-x;
}
.blue .title div {
	background:url(../images/separator-blue.gif) repeat-x 0 100%;
}
.blue .title strong {
	color:#5091cd;
}
.aside .text {
	padding:0 6px 16px;
}
.aside p {
	margin:0 0 3px;
	font-size:1.4em;
	line-height:17px;
}
.aside img {
	margin:0 5px 0 0;
}
.aside .text a {
	font-weight:bold;
	font-size:1em;
	color:#f26531;
	text-decoration:none;
}
.blue .text a {
	color:#5091cd;
}
.aside .text a:hover {
	text-decoration:underline;
}
/* content */
#content {
	float:left;
	background:#fff;
	margin-top:-8px;
}
#content:after {
	clear:both;
	content:'';
	display:block;
}
.conthome {
	width:490px;
}
.continner {
	width:720px;
}
/* titleline */
.titleline {
	background:url(../images/separator-3.gif) repeat-x 0 8px;
	width:100%;
}
.greencont .titleline {
	background:url(../images/separator-5.gif) repeat-x 0 8px;
}
.redcont .titleline {
	background:url(../images/separator-8.gif) repeat-x 0 8px;
}
.lightbluecont .titleline {
	background:url(../images/separator-9.gif) repeat-x 0 8px;
}
.purplecont .titleline {
	background:url(../images/separator-10.gif) repeat-x 0 8px;
}
.tealcont .titleline {
	background:url(../images/separator-11.gif) repeat-x 0 8px;
}
.titleline .btm {
	background:url(../images/separator-3.gif) repeat-x 0 100%;
	padding:0 0 2px;
	width:100%;
}
.greencont .titleline .btm {
	background:url(../images/separator-5.gif) repeat-x 0 100%;
}
.redcont .titleline .btm {
	background:url(../images/separator-8.gif) repeat-x 0 100%;
}
.lightbluecont .titleline .btm {
	background:url(../images/separator-9.gif) repeat-x 0 100%;
}
.purplecont .titleline .btm {
	background:url(../images/separator-10.gif) repeat-x 0 100%;
}
.tealcont .titleline .btm {
	background:url(../images/separator-11.gif) repeat-x 0 100%;
}
.titleline .btm:after {
	clear:both;
	content:'';
	display:block;
}
.titleline .stripe {
	height:71px;
	overflow:hidden;
	margin-left:-11px;
	width:501px;
	float:left;
	position:relative;
	background:url(../images/stripe-bg1.png) no-repeat;
}
.titleline .stripeinner {
	width:620px;
	margin-left:-8px;
}
.titleline .stripeblue {
	background:url(../images/stripe-bg2.png) no-repeat;
}
.greencont .titleline .stripe {
	background:url(../images/stripe-bg3.png) no-repeat;
}
.redcont .titleline .stripe {
	background:url(../images/stripe-bg4.png) no-repeat;
}
.lightbluecont .titleline .stripe {
	background:url(../images/stripe-bg5.png) no-repeat;
}
.purplecont .titleline .stripe {
	background:url(../images/stripe-bg6.jpg) no-repeat;
}
.tealcont .titleline .stripe {
	background:url(../images/stripe-bg7.jpg) no-repeat;
}
.titleline .stripe div {
	height:71px;
	padding:14px 0 0 38px;
	background:url(../images/stripe-shadow.gif) no-repeat 100% 0;
}
.titleline .stripeinner div {
	padding:25px 0 0 35px;
}
/* h1 */
.titleline h1 {
	margin:0;
	font-size:2em;
	line-height:22px;
	color:#fff;
	font-weight:normal;
}
.titleline h1 span {
	display:block;
	height:20px;
	overflow:hidden;
}
.titleline .share {
	float:right;
	width:110px;
	margin:16px -6px 0 0;
	padding:0;
	list-style:none;
}
.titleline .share img {
	display:block;
}
.titleline .share li {
	float:left;
	padding:0 5px 6px 0;
}
.titleline .share a {
	display:block;
	width:21px;
	height:21px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/icons.gif) no-repeat;
}
.titleline .share .ico1 {
	background-position:0 0;
}
.titleline .share .ico2 {
	background-position:-21px 0;
}
.titleline .share .ico3 {
	background-position:-42px 0;
}
.titleline .share .ico4 {
	background-position:-63px 0;
}
.titleline .share .ico5 {
	background-position:-84px 0;
}
.titleline .share .ico6 {
	background-position:-105px 0;
}
.titleline .share .ico7 a{
	background-position:-126px 0;
}
.titleline .share .ico8 a{
	background-position:-147px 0;
}
/* textbox */
.textbox {
	padding:10px 30px 0 26px;
	margin-bottom:-8px;
}
.textbox p {
	margin:0 0 20px;
	line-height:18px;
	font-size:1.2em;
}
/* footer */
#footer {
	height:1%;
	overflow:hidden;
	padding:39px 14px 10px 11px;
}
#footer p {
	float:right;
	color:#666;
	font-size:1em;
	margin:0;
}
#footer ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	overflow:hidden;
}
#footer ul li {
	float:left;
	background:url(../images/separator-4.gif) no-repeat 0 50%;
	margin-left:-1px;
	display:inline;
	padding:0 5px;
}
#footer ul a {
	font-size:1em;
	color:#4d4d4d;
	text-decoration:none;
}
#footer ul a:hover {
	text-decoration:underline;
}
/* twocols */
.twocols {
	height:1%;
	overflow:hidden;
	padding:16px 0 0 27px;
}
.twocols .column {
	float:left;
	width:320px;
	padding-right:22px;
}
.twocols p {
	margin:0 0 20px;
	font-size:1.2em;
	line-height:19px;
}
/* breadcrumbs */
.breadcrumbs {
	position:absolute;
	top:-18px;
	left:15px;
	margin:0;
	padding:0;
	list-style:none;
	z-index:10;
	font-size:1em;
	overflow:hidden;
	color:#5e9732;
}
.bluecont .breadcrumbs {
	color:#0c479d;
}
.redcont .breadcrumbs {
	color:#bf311a;
}
.lightbluecont .breadcrumbs {
	color:#4f91cd;
}
.purplecont .breadcrumbs {
	color:#61116a;
}
.tealcont .breadcrumbs {
	color:#007a86;
}
.breadcrumbs li {
	float:left;
	background:url(../images/separator-6.gif) no-repeat 0 50%;
	padding:0 8px 0 8px;
	margin-left:-5px;
}
.breadcrumbs a {
	color:#999;
	text-decoration:none;
}
.breadcrumbs a:hover {
	text-decoration:underline;
}
/* popup */
.popup {
	position:absolute;
	top:-9999px;
	left:-9999px;
	width:417px;
}
.popup-page .popup{
	top:0;
	left:0;
}
.popup .top {
	width:417px;
	height:10px;
	background:url(../images/popup-top.png) no-repeat;
	overflow:hidden;
}
.popup .btm {
	width:417px;
	height:18px;
	background:url(../images/popup-btm.png) no-repeat;
	overflow:hidden;
}
.popup .center {
	width:417px;
	background:url(../images/popup-bg.png) repeat-y;
}
.popup .center:after {
	clear:both;
	content:'';
	display:block;
}
.popup .cont {
	width:405px;
	float:left;
	position:relative;
	margin-top:-7px;
	padding:0 8px 0 4px;
}
.popup strong {
	font-size:1em;
	color:#687a8a;
	line-height:31px;
	background:#b6d5f1;
	display:block;
	padding:0 11px;
}
.popup fieldset {
	padding:38px 65px 23px 53px;
}
.popup .row {
	width:100%;
	overflow:hidden;
	padding-bottom:12px;
}
.popup label {
	float:left;
	font:1.4em/19px Arial, Helvetica, sans-serif;
	color:#5090cd;
	width:114px;
}
.popup .field {
	float:left;
	width:155px;
	padding:1px 5px;
	margin:0;
	background:#fff;
	border:1px solid #ccc;
	border-top:1px solid #999;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#333;
}
.popup .btn {
	width:85px;
	height:23px;
	cursor:pointer;
	padding:0;
	margin:14px 6px 0 0;
	background:url(../images/btn-submit.gif) no-repeat;
	border:0;
	float:right;
}
/* contact */
.contact .adrs {
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
}
.contact .box {
	float:left;
	width:220px;
}
.contact .box2 {
	padding-top:19px;
}
.contact .box span {
	display:block;
	color:#09479a;
}
.frame {
	width:670px;
	overflow:hidden;
}
#mainnav a,
.aside .title strong,
#footer ul a,
.aside .text a,
.breadcrumbs,
.titleline h1,
/* //////////////////  Take out UPPERCASE - hmmm cannot- it messes more up */
.popup strong{
	text-transform: uppercase;
}

ul.share li.ico7 img,
ul.share li.ico8 img{
	display:none;
}
.popup .btn{
	font-size:1px;
	line-height:1px;
	text-indent:-9999px;
	overflow:hidden;
}
.conthome .titleline h1{
	text-transform:none;
}
.menu em{
	font-style:normal;
}
#mainnav em{
	display:block;
}
#mainnav ul em{
	display:inline;
}
.search-page #content{
	width:700px;
}
.bluecont .titleline .stripe{
	background:url(../images/stripe-bg2.png) no-repeat;
}
/* SHARE THIS */
.st_sharethis_custom{
        background: url("http://www.veristor.com/images/sharethis/sharethis_social_button.gif") no-repeat scroll left top transparent;
        padding:0px 0px 21px 99px;
}

/* paddings, margins for images */
.m-top { margin-top:15px;}
.m-bottom { margin-bottom:15px;}
.m-left { margin-left:15px;}
.m-right { margin-right:15px;}

.p-top { padding-top:15px;}
.p-bottom { padding-bottom:15px;}
.p-left { padding-left:15px;}
.p-right { padding-right:15px;}
div.chronoform{display:none;}
.tools-icons{
	float: right;
	list-style: none;
	margin: 16px 0 0;
	padding: 0 5px 0 1px;
	width: 99px;
	overflow:hidden;
}
.btn-page-print a{
	display:block;
	width:99px;
	height:21px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/print_page_button.gif) no-repeat;
}
.tools-icons .stButton .chicklets{
	display:block;
	width:99px;
	height:21px;
	margin:0 0 5px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/sharethis_social_button.gif) no-repeat;
}
.form_element{
	float:none;
	margin:0 0 10px;
}
.form_element input.cf_inputbox{
	width:200px;
	padding:2px 5px;
	margin:0;
}
.form_element textarea.cf_inputbox{
	width:300px;
	height:100px;
	padding:2px 5px;
	margin:0;
}

/* ================================================================== lists bullets */
ul#arrowlines{
	margin:-.6em 0 0;
	padding:0 15px 5px 5px;
}

ul#arrowlines li{
	font-size:12px;
	font-weight:normal;
	color:#575757;
	padding:8px 0 8px 15px;
	border-bottom:1px dashed #e1ddd6;
	margin:-3px 0 3px;
	list-style: none;
	background: url(../images/bullet.gif) no-repeat 0 10px;
}

ul#arrowlines li a, ul#arrowlines li a:visited {

	color:#004a9e;

	text-decoration:underline;

}

ul#arrowlines li a:hover {
	color:#4592ce;
	text-decoration:none;
}
ul#arrowlines li.quickheader{
	font-family:"Georgia", "Times", serif;
	font-size:15px;
	font-weight:normal;
	color:#c15614;
	border-bottom:1px solid #c9c4bc;
	padding:8px 0 3px 0;
}
ul#arrowlines li.customquick{
	font-style: italic;
	color:#333;
	border-bottom:1px dashed #e1ddd6;
	padding:4px 0;
}
ul#arrowlines li.customquick a, ul#arrowlines li.customquick a:visited {
	color:#333;
	text-decoration:none;
}
ul#arrowlines li.customquick a:hover {
	color:#c15614;
	text-decoration:none;
}
ul#arrowlines li.last{
	border-bottom:1px dashed #e1ddd6;
}
ul#arrowlines li.quicklast{
	border-bottom:1px solid #c9c4bc;
}

/* styles for headings */
h1 {
	font-size:2em;
	margin:0 0 7px 0px;
}
h2 {
	font-size:1.8em;
	margin:0 0 7px;
}
h3 {
	font-size:1.6em;
	margin:0 0 7px;
}
h4 {
	font-size:1.4em;
	margin:0 0 7px;
}
h5 {
	font-size:1.2em;
	margin:0 0 7px;
}

.twocols .title,
.twocols h1{
	color:#0c479d;
	display:block;
	font-size:1.4em;
}
.twocols .title,
.twocols h2{
	color:#0c479d;
	display:block;
	font-size:1.4em;
        text-transform: uppercase;
}
.twocols .title,
.twocols h3{
	color:#0c479d;
	display:block;
	font-size:1.2em;
}
.twocols .title,
.twocols h4{
	color:#0c479d;
	display:block;
	font-size:1.0em;
}
.twocols .title,
.twocols h5{
	color:#0c479d;
	display:block;
	font-size:1.0em;
        text-transform: uppercase;
}
/* Not using full stack - separated out per each H */
/*
.twocols .title,
.twocols h1,
.twocols h2,
.twocols h3,
.twocols h4,
.twocols h5{
	color:#0c479d;
	display:block;
	font-size:1.4em;
}
*/

.tealcont .twocols .title,
.tealcont .twocols h1,
.tealcont .twocols h2,
.tealcont .twocols h3,
.tealcont .twocols h4,
.tealcont .twocols h5{
	color:#007a86;
}

.greencont .twocols .title,
.greencont .twocols h1,
.greencont .twocols h2,
.greencont .twocols h3,
.greencont .twocols h4,
.greencont .twocols h5{
	color:#5e9732;
}
.bluecont .twocols .title,
.bluecont .twocols h1,
.bluecont .twocols h2,
.bluecont .twocols h3,
.bluecont .twocols h4,
.bluecont .twocols h5{
	color:#0C479D;
}
.purplecont .twocols .title,
.purplecont .twocols h1,
.purplecont .twocols h2,
.purplecont .twocols h3,
.purplecont .twocols h4,
.purplecont .twocols h5{
	color:#61116a;
}
.redcont .twocols .title,
.redcont .twocols h1,
.redcont .twocols h2,
.redcont .twocols h3,
.redcont .twocols h4,
.redcont .twocols h5{
	color:#8a1f03;
}
.lightbluecont .twocols .title,
.lightbluecont .twocols h1,
.lightbluecont .twocols h2,
.lightbluecont .twocols h3,
.lightbluecont .twocols h4,
.lightbluecont .twocols h5{
	color:#5091cd;
}
.titleline h1 a{
	color:#fff;
	text-decoration:none;
}
.tools-icons .stButton{
	margin:0;
}
.tools-icons .stButton{
	margin:0;
}
.tools-icons .stButton span{
	padding:0;
}
#mainnav .drop{
	background:url(../images/none.gif);
}
/**********/
#form-login .error-message{
	color:#ff0000;
	display:block;
	font-size:1.4em;
	margin-bottom:-20px;
	padding:0 65px 0 53px;
}
#form-login .error-message dl{display:block;}
#form-login .error-message dt{display:block;}
#form-login .error-message dd{display:block;margin:0;}
#form-login .error-message ul{display:block;padding:0;}
#popup02,
#popup02 .center{
	width:1024px;
	background:none;
}
#popup02 .top,
#popup02 .btm{
	display:none;
}
#system-message{display:none;}
.error-message #system-message{display:block;}