.THIS.rightCSS{
    margin-left: 985px;
    margin-top: -101px;
    width: 321px;
    height: 32px;
}
.THIS.error{
    font-size: small;font-weight: 600;
}
.THIS.duplicate{
    font-size: small;font-weight: 600;
}
.THIS.success{
    font-size: small;font-weight: 600;
}
.THIS.buttonCss{
    margin-top: 10px;
}
.THIS .unmappedCSS{
    color : red;
}
.THIS.ErrorCSS{
    color: red;
    font-size: inherit;
    margin-left: 135px;
    margin-bottom: 15px !important;
}
.THIS.ErrorCSS1{
    
    font-size: inherit;
   
    margin-bottom: 15px !important;
}

.THIS .slds-modal__container{
    max-width: 60rem !important;
    width:100% !important;
}
.THIS .slds-th__action.slds-th__action_form.slds-cell-fixed {
    display: none;
}
.THIS.lightning-spinner.abc.slds-spinner_container.cUploadCSVFile {
    height: 530px;
    margin-top: 48px;
}